<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
  <title>Inicio</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Inicio</h1>
  <table >
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
    </tr>
    <tr th:each="personas : ${personas}">
      <td th:text="${personas.nombre}">Mostrar Nombre</td>
      <td th:text="${personas.apellido}">Mostrar Apellido</td>
      <td th:text="${personas.email}">Mostrar Email</td>
      <td th:text="${personas.telefono}">Mostrar Teléfono</td>
    </tr>
    </table>

</body>
</html>